@import "compass/reset";
@import "compass/css3";
@import "fonts";
@import "utilities";

$titleColor: #fff;

html, body, #page {
	height: 100%;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-size: 14px;
    color: $colorTextPrimary;

    -webkit-font-smoothing: antialiased;
}

a,
a:before {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:hover:before,
a:hover:after,
a.active,
a.active:before,
a.active:after {
    //color: $colorPrimaryHover !important;
}

.header {

    .header-primary {
        position: relative;
        padding: 1em;
        background-color: $colorDarkGraySecondary;
        border-top: 1px solid rgba(255,255,255,.1);
        border-bottom: 1px solid $colorBorderDarkPrimary;
        
        h1 {
            font-family: 'VAGRoundedBT-Regular';
		    font-size: 1.8em;
		    color: $titleColor;
		    letter-spacing: -.02em;
	        cursor: pointer;
        }

    }

    .header-secondary {
        padding: .75em 1em;
        background-color: $colorDarkGrayPrimary;
        border-bottom: 1px solid $colorBorderDarkPrimary;
    }
    
	.years {
		color: $titleColor;

		:not(:last-child):after {
   			content: " | ";
   			color: #666;
   		}
   		
   		a:hover {
	   		cursor: pointer;
   		}
	}
}

.album-description {
	font-size: 1.3em;
	margin: 0.5em 0.9em;
	
	p {
		margin-top: 0.4em;
	}
}

.album {
	height: 100%;
	overflow-y: scroll;
}

.album.year #thumbnails {

	fieldset {
		display: block;
		margin: 1em;
	}
	
	legend {
		font-weight: bold;
		font-size: 1.3em;
		background: white;
		background: #EEE;
		border-radius: 1em;
		padding: 0.3em 1em;
		width: 100%;
	}
}

.thumbnail {
	margin: 1em;
	display: inline-block;
	vertical-align: top;
	
	img {
		border: solid black 1px;
	}
	a {
		display: block;
	}
	.title {
		font-weight: bold;
	}
	.summary {
		margin-top: 0.3em;
	}
}

.container-table.photo-page {
    display: table;
    height: 100%;
    width: 100%;
	overflow: hidden;
	
	.container-table-row.header {
		display: table-row;
		color: white;
		background-color: #2A2929;
		border-bottom: solid black 2px;
		
		.container-table-cell {
			position: relative;
			padding: 1em;
		
				
			h1 {
	            font-family: 'VAGRoundedBT-Regular';
			    font-size: 1.8em;
			    letter-spacing: -.02em;
		        cursor: pointer;
		        margin-bottom: 0.5em;
			}
			
			.caption {
				font-size: 1.3em;
				max-width: 40em;
				
				p {
					margin-top: 0.5em;
				}
			}
			
			.admin-controls {
				position: absolute;
				bottom: 1;
				right: 0;
				font-size: smaller;
				color: white;
				background-color: #2A2929;
				//border-top-left-radius: 5px;
				//border-top: solid gray 1px;
				//border-left: solid gray 1px;
				padding-top: 1em;
				padding-bottom: 1em;
				padding-right: 2em;
				padding-left: 1em;
				
				a {
					cursor: pointer;
					
					&:hover {
						text-decoration: underline !important;	
					}
				}
			}
			
			&:not(:hover) .admin-controls {
				display: none;
			}
			
			.caption-edit-controls {
				input[type=text] {
					font-family: 'VAGRoundedBT-Regular';
					font-size: 1.8em;
					letter-spacing: -.02em;
					display: block;
					width: 100%;
					padding: 0;
					padding: 0.2em;
				}
				textarea {
					display: block;
					width: 100%;
					min-height: 8em;
					font-family: Verdana;
					font-size: 1.1em;
					padding: 0.4em;
					white-space: pre;
				}
				.button-group {
					margin-top: 0.7em;
					
					a {
						&.submit {
							color: white;
							font-weight: bold;
						}
					}
				}
				
				iframe.wysihtml5-sandbox {
					min-height: 10em;
				}
			}
		}
	}
	
	.container-table-row.image {
	    display: table-row;
	    height: 100%;
	    overflow: hidden;

		.container-table-cell {
			display: table-cell;
		    overflow: hidden;
		    border-spacing: 1em;
		    padding: 1em;
		    //border: solid green 3px;
		    //background-color: lightgreen;
		    overflow: hidden;
		    
			.container-inner {
				position: relative;
				height: 100%;
				width: 100%;
				//border: solid red 2px;
				//background-color: lightyellow;
				overflow: hidden;
		
				img {
					display: none;
					position: absolute;
					width: 100%;
				}
			}
		}
	}
}

// hide the photo edit controls unless the user is a site admin
body:not(.is-site-admin) .admin-controls {
	display: none;
}

/*
 * The photo and album captions
 */
.caption {
	p, li {
	  line-height: 1.5;
	}
	
	a {
	  color: inherit;
	}
	
	strong, b {
	  font-weight: bold;
	}
	
	i, em {
	  font-style: italic;
	}
	
	li {
	  margin-left: 30px;
	}
	
	ul li {
	  list-style: disc outside;
	}
	
	ol li {
	  list-style: decimal outside;
	}
	
	li img {
	  vertical-align: middle;
	  margin: 2px 5px 5px 0;
	}
	
	.wysiwyg-color-black {
	  color: black;
	}
	
	.wysiwyg-color-silver {
	  color: silver;
	}
	
	.wysiwyg-color-gray {
	  color: gray;
	}
	
	.wysiwyg-color-white {
	  color: white;
	}
	
	.wysiwyg-color-maroon {
	  color: maroon;
	}
	
	.wysiwyg-color-red {
	  color: red;
	}
	
	.wysiwyg-color-purple {
	  color: purple;
	}
	
	.wysiwyg-color-fuchsia {
	  color: fuchsia;
	}
	
	.wysiwyg-color-green {
	  color: green;
	}
	
	.wysiwyg-color-lime {
	  color: lime;
	}
	
	.wysiwyg-color-olive {
	  color: olive;
	}
	
	.wysiwyg-color-yellow {
	  color: yellow;
	}
	
	.wysiwyg-color-navy {
	  color: navy;
	}
	
	.wysiwyg-color-blue {
	  color: blue;
	}
	
	.wysiwyg-color-teal {
	  color: teal;
	}
	
	.wysiwyg-color-aqua {
	  color: aqua;
	}
}