@import "compass/reset";
@import "compass/css3";
@import "fonts";
@import "utilities";

$titleColor: #fff;

html, body, #page {
	height: 100%;
}

html {
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-size: 14px;
    color: $colorTextPrimary;

    -webkit-font-smoothing: antialiased;
}

a,
a:before {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:hover:before,
a:hover:after,
a.active,
a.active:before,
a.active:after {
    //color: $colorPrimaryHover !important;
}

.header {

    .header-primary {
        position: relative;
        padding: 1em;
        background-color: $colorDarkGraySecondary;
        border-top: 1px solid rgba(255,255,255,.1);
        border-bottom: 1px solid $colorBorderDarkPrimary;
        
        h1 {
            font-family: 'VAGRoundedBT-Regular';
		    font-size: 1.8em;
		    color: $titleColor;
		    letter-spacing: -.02em;
	        cursor: pointer;
        }

    }

    .header-secondary {
        padding: .75em 1em;
        background-color: $colorDarkGrayPrimary;
        border-bottom: 1px solid $colorBorderDarkPrimary;
    }
    
	.years {
		color: $titleColor;

		:not(:last-child):after {
   			content: " | ";
   			color: #666;
   		}
   		
   		a:hover {
	   		cursor: pointer;
   		}
	}
}

.album-description {
	font-size: 1.3em;
	margin: 0.5em 0.9em;
	
	p {
		margin-top: 0.4em;
	}
}

.thumbnail {
	margin: 1em;
	display: inline-block;
	vertical-align: top;
	
	img {
		border: solid black 1px;
	}
	a {
		display: block;
	}
	a:last-child {
		font-weight: bold;
	}
}

.photo-page {
	width: 100%;
	margin: auto 0;
	position: relative;
	display: inline;
	
	.photo-info {
		position: relative;
		width: 100%;
		background: #fff;
		border-bottom: solid black 2px;
		padding: 0.5em;
		
		.button-group {
			margin: 0.5em 1em;
		}
		
		h1 {
            font-family: 'VAGRoundedBT-Regular';
		    font-size: 1.8em;
		    letter-spacing: -.02em;
	        cursor: pointer;
		}
		
		.caption {
			font-family: Verdana;
			font-size: 1.3em;
			max-width: 40em;
			
			p {
				margin-top: 0.5em;
			}
		}
		
		.admin-controls {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: smaller;
			background: white;
			//border-top-left-radius: 5px;
			//border-top: solid gray 1px;
			//border-left: solid gray 1px;
			padding-top: 1em;
			padding-bottom: 1em;
			padding-right: 2em;
			padding-left: 1em;
			
			a {
				cursor: pointer;
				
				&:hover {
					text-decoration: underline !important;	
				}
			}
		}
		
		&:not(:hover) .admin-controls {
			display: none;
		}
		
		.caption-edit-controls {
			input[type=text] {
				font-family: 'VAGRoundedBT-Regular';
				font-size: 1.8em;
				letter-spacing: -.02em;
				display: block;
				width: 100%;
				padding: 0;
			}
			textarea {
				display: block;
				width: 100%;
				min-height: 8em;
				font-family: Verdana;
				font-size: 1.1em;
				padding: 0;
				white-space: pre;
			}
		}
	}
	
	&.landscape img {
		width: 100%;
	}
	
	&.portrait {
		.photo-info {
			//float: right;
			//max-width: 30em;
		}
		
		img {
			height: 100%;
		}
	}
}

html:not(:hover) .photo-page .photo-info {
	display: none;
}